    html, body {
        height: 100%;
        margin: 0;
      position: relative;
        color: #ffffff;
    }
    .netflix-nav {
        background-color: #14141400;
        padding: 14px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      font-family: "Roboto", sans-serif;
      position: fixed;
      top: 0px;
      z-index: 2;
      width: 95%;
    }
    .netflix-nav .nav-left, .netflix-nav .nav-right {
        display: flex;
        align-items: center;
        gap: 22px;
    }
    .nav-right {
        margin-left: auto;
    }
    .logo {
        width: 120px;
        height: 60px;
        object-fit: contain;
    }
    .n {
        color: #e5e5e5;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
    }
    .netflix-btn {
        background-color: #e50914;
        color: #ffffff;
        border: none;
        padding: 8px 14px;
        border-radius: 4px;
        font-weight: 600;
    }
    .content {
        position: relative;
        min-height: 100vh;
        width: 100%;
        object-fit: cover;
    }
    .video-container {

        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .overlay {
        position: absolute;
        top: 60%;
        left: 12%;
        color: red;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .subtitle {
        font-size: 18px;
        margin: 12px 0px;
        color: #ffffff;
    }   
